<!DOCTYPE html>
<html>
  <head>
    <title>Prueba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to "Registrate", signup_path %></li>
        </ul>
      </nav>
    </div>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
